@font-face {
    font-family:Poppins;
    src: url(/font/Poppins-Black.ttf);
}

body{ background:hsl(0, 100%, 74%) url(images/bg-intro-desktop.png) no-repeat;}


#prnt { display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;    
}  
        

#txt-left{  color: white;
            font-family:Poppins;
            line-height: 20px;
            padding-right: 80px;
}

#txt-4mobile{ display: none;}


#txt-left h1{   line-height: 40px;
                font-size: 45px;
                font-weight: 100;
}


#txt-left p{  font-weight: 100;
              font-size: 16px;  
}


#form-box { width: 485px;
            height: 500px;
            background-color: white;
            align-self: center;
            border-radius: 14px;
            box-shadow: 0px 10px 0px -3px rgba(0,0,0,0.2);
            display: flex;
            flex-direction: column;
}


.inpt-clss {    width: 400px;
                height: 55px;
                margin: 22px 33px 0px 33px ;
                padding-left: 13px;
                border-radius: 7px;
                align-self: center;
                border: 1px solid rgba(0,0,0,0.2);
}



#sub{  width: 420px;
       height: 60px;
       margin: 22px 33px 0px 33px ;
       border-radius: 7px; 
       border: 0px;
       background-color: hsl(154, 59%, 51%);
       color: white;
       font-size: 18px;
       font-weight: bold;
       box-shadow: 0px 7px 0px -3px rgba(1, 147, 74, 0.676);
}


#form-box p{ margin: 8px 0px 0px 110px ; 
             font-size:12px;
}


#form-box p a{ 
    color: red;
}


#blue-button{   width: 485px;
                height:50px;
                background-color: hsl(248, 32%, 49%);
                box-shadow: 0px 7px 0px -3px rgba(35, 41, 118, 0.676);
                margin-top: -15px;
                margin-bottom: 17px;
                border-width: 0px;
                color: white;
                font-size: 15px;
                border-radius: 7px;
}


.inpt-clss::placeholder{ font-size: 16px;}
.inpt-clss:first-child {  margin-top: 37px; }
.inpt-clss:focus{ border: 0px solid rgb(146, 1, 146);}

@media screen and (max-width:980px){
        body{ 
             background:hsl(0, 100%, 74%) url(images/bg-intro-desktop.png) no-repeat; 
        }

        #prnt { display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                 } 
         #txt-left{ display: none;}

         #txt-4mobile{ color: white;
                       font-family:Poppins;
                       line-height: 20px; 
                       margin-top: -70px;
                       margin-bottom: 25px;
                       display: block; 
                    }
         
         
        #txt-4mobile h1{  line-height: 40px;
                          font-size: 30px;
                          font-weight: 100;
                          text-align: center; }
        
        
        #txt-4mobile p{  font-weight: 100;
                         font-size: 14px;  
                         text-align: center; }

         #form-box { width: 420px;
                     height: 500px;
                     margin-left: 2px;
                    }

        .inpt-clss {   width: 350px;
                       height: 55px;
                       margin: 22px 38px 0px 28px ;
                    }

        #sub{  width: 370px;
               height: 60px;
               margin: 22px 38px 0px 28px ;}


        #form-box p{ margin: 8px 0px 0px 85px ; }

        #blue-button{   width: 420px;
                        height:50px;
                        
                        margin-left: 2px;}
}

@media screen and (width:375px){  body{background:url(/images/bg-intro-mobile.png) ;}
    
}
